<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Own-url-shortener by gw1770df</title>
  <meta name="description" content="Own-url-shortener">
  <meta name="keywords" content="Own-url-shortener">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
</head>
<body>
<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>

<header class="am-topbar am-topbar-inverse admin-header">
  <div class="am-topbar-brand">
    <a href="https://github.com/gw1770df/own-url-shortener"><strong>Own url shortener</strong></a>
  </div>
  <div class="am-topbar-brand am-fr">
    <small>oujiayue@gmail.com</small>
  </div>


</header>

<script>

function response_check(data){
  //alert(data);
  if (data.indexOf("Error") == 0){
    alert(data);
	return false;
  };
  return true;
}

function check_form_url(){
    var url = $("#form_url").val();
	var urlRegex = '^(?!mailto:)(?:(?:http|https|ftp)://)(?:\\S+(?::\\S*)?@)?(?:(?:(?:[1-9]\\d?|1\\d\\d|2[01]\\d|22[0-3])(?:\\.(?:1?\\d{1,2}|2[0-4]\\d|25[0-5])){2}(?:\\.(?:[0-9]\\d?|1\\d\\d|2[0-4]\\d|25[0-4]))|(?:(?:[a-z\\u00a1-\\uffff0-9]+-?)*[a-z\\u00a1-\\uffff0-9]+)(?:\\.(?:[a-z\\u00a1-\\uffff0-9]+-?)*[a-z\\u00a1-\\uffff0-9]+)*(?:\\.(?:[a-z\\u00a1-\\uffff]{2,})))|localhost)(?::\\d{2,5})?(?:(/|\\?|#)[^\\s]*)?$';
    var re_url = RegExp(urlRegex);
    if (re_url.test(url) != true){
	    $("#div_form_url").addClass('am-input-group-danger');
		return false;
	}
	else{
	    $("#div_form_url").removeClass('am-input-group-danger');
		return true;
	}
}

function check_short_url(){
    var url = $("#form_short_url").val();
    var re_url = RegExp("^{{ host }}[a-zA-Z0-9]+$");
    if (re_url.test(url) != true){
	    $("#div_form_short_url").addClass('am-input-group-danger');
		return false;
	}
	else{
	    $("#div_form_short_url").removeClass('am-input-group-danger');
		return true;
	}
}

function url_add(){
    var post_data = {
        url: $("#form_url").val(),
        short_url: $("#form_short_url").val(),
        expire: $("#form_expire").val(),
        expire_unit: $("#form_expire_unit").val()
    };
    
	if (check_form_url() && check_short_url()){
	    $.post(
            '/control/surl/',
            post_data,
		    function(data){
		        i_obj = $("#i_uri_add");
			    button_obj = $("#b_uri_add");
			    button_obj.removeClass("am-btn-primary");
			    button_obj.addClass("am-btn-warning");
		        i_obj.addClass("am-icon-spinner am-icon-spin");
		        if (response_check(data) == true){
			        //i_obj.removeClass("am-icon-spinner am-icon-spin");
			        window.location.reload();  
			    }
				else{
				    button_obj.removeClass("am-btn-warning");
				    button_obj.addClass("am-btn-primary");
				}
			
		    }
		
        );
	}
	else{
	    alert("填写有误，重新检查红色输入框中内容。");
	}
    //alert("url_add");
    
    
}

function uri_random(){
    $.get("/control/randomstring",
	function(data){
	    i_obj = $("#i_random");
		//input_obj = $("#form_short_url");
	    //input_obj.addClass("am-btn am-btn-warning");
	    i_obj.addClass("am-icon-spin");
	    response_check(data);
	    $("#form_short_url").val(data);
		i_obj.removeClass("am-icon-spin");
		//input_obj.removeClassClass("am-btn am-btn-warning");
	}
    );
}

function uri_delete(short_url, b_id){
    //alert("haha");
    var post_data = {
        delete: short_url
    };
    //alert(short_url);
    
    $.ajax({
            url: '/control/surl/' + short_url,
            type: 'DELETE',
            success: function(data){
                b_obj = $(b_id);
                b_obj.removeClass('am-icon-trash-o');
                b_obj.addClass("am-icon-spinner am-icon-spin");
                if (response_check(data) == true) {
                    window.location.reload();
                }
            }
        }
    );
}

</script>



<div class="am-cf admin-main">

  <!-- content start -->
  <div class="admin-content">
    
	<div>
      <div class="am-padding">
        <div class="am-fl"><strong class="am-text-primary am-text-lg">{{ host }}</strong></div>
		<div class="am-u-sm-12 am-u-md-3 am-fr">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
          </div>
        </div>
      </div>
     </div>
	  
	  <hr>

      <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover table-main am-g">
              <thead>
              <tr>
                  <th class="table-title am-u-sm-6">Url</th>
                  <th class="table-author am-hide-sm-only am-u-sm-3">短地址</th>
                  <th class="table-date am-hide-sm-only am-u-sm-2">失效日期</th>
                  <th class="table-set am-u-sm-1">操作</th>
              </tr>
              </thead>
              <tbody>
              
			  {% for i in url_set %}
              <tr>                              
                <td class="am-u-sm-6 am-text-break">{{ i[1] }}</td>
                <td class="am-u-sm-3">{{ i[4] }}</td>
                <td class="am-u-sm-2 am-hide-sm-only">{{ i[2] }}</td>
                <td class="am-u-sm-1">
                  <div class="am-btn-toolbar">
                    <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick="uri_delete('{{ i[0] }}', '#b_del_{{ i[3] }}')"><span class="am-icon-trash-o" id="b_del_{{ i[3] }}"></span> 删除</button>
                  </div>
                </td>
              </tr>
			  {% end %}
			  
			  
              </tbody>
            </table>
            
            <hr>
        </div>

<div class="am-padding am-cf">
		<div><strong class="am-text-primary am-text-lg">添加</strong></div>
		<hr>
  <div class="am-u-md-8 am-u-sm-centered">
  
      <fieldset class="am-form-set">
		<div class="am-input-group" id="div_form_url">
          <span class="am-input-group-label">原地址：</span>
            <input type="text" class="am-form-field" id="form_url" onblur="check_form_url()" placeholder="http://">
        </div>
		
		<p></p>
		<div class="am-input-group" id="div_form_short_url">
          <span class="am-input-group-label">短地址：</span>
            <input type="text" class="am-form-field" id="form_short_url" onblur="check_short_url()" value="{{ host }}">
		  <span class="am-input-group-label">
		    <a href="javascript:void(0)" onclick="uri_random()"><i class="am-icon-refresh" id="i_random"></i> 随机</a>
		  </span>
        </div>
		
		<p></p>
		
		<div class="am-input-group">
          <span class="am-input-group-label">过期时间：</span>
            <input type="text" class="am-form-field" id="form_expire" value="30">
			<span class="am-input-group-label">
			  <select id="form_expire_unit" data-am-selected="{btnSize: 'sm'}">
                <option value="d">天</option>
                <option value="h">小时</option>
              </select>
			</span>
        </div>
		
      </fieldset>
      <button onclick="url_add()" class="am-btn am-btn-primary am-btn-block" id="b_uri_add"><i class="" id="i_uri_add"></i> ADD</button>
  </div>
</div>
		
      
	  

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

  </div>
  <!-- content end -->
</div>







</body>
</html>
